@page "/"
@inject WebApiAuthentication WebApiAuthentication

<div>
    <AuthorizeView>
        <Authorized>
            <PageTitle>Index</PageTitle>

            <h1>Hello, world!</h1>

            Welcome to your new app.

            <SurveyPrompt Title="How is Blazor working for you?" />
        </Authorized>
        <NotAuthorized>
            <h1>Please Login first</h1>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code{
    [CascadingParameter]
    private Task<AuthenticationState> authState { get; set; }
    private IList<Claim> userClaim 
    {
        get
        {
            var auth = authState.Result;
            if(auth.User.Identity.IsAuthenticated)
            {
                return auth.User.Claims.ToList();
            }
            return new List<Claim>();
        } 
    }

}